.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  gap: 10px 50px;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 0 20px;
}

.card {
  width: 75px;
  height: 105px;
  font-size: 30px;
  text-align: center;
  background-color: transparent;
  border-radius: 5%;
}

.reset-button {
  background-color: transparent;
  font-size: 50px;
  color: white;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  transform: scale(1.05);
  color: black;
}

.card.back {
  background-image: url("/cardBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

.card.front {
  background-color: #f0f0f0;
}

/* スマホ・タブレット向け */
@media (max-width: 600px) {
  .container {
    max-width: 100vw;
    padding: 0 5vw;
  }
  p {
    display: none;
  }
  header {
    height: auto;
  }
  .grid {
    grid-template-columns: repeat(3, 15vw); /* 3列にして幅を可変に */
    gap: 4vw 3vw;
  }
  .card {
    width: 15vw;
    height: 21vw;
    font-size: 7vw;
  }
  .reset-button {
    font-size: 10vw;
  }
}